@media print{
    body::before,
    body::after,
    head,
    header,
    #printer,
    #footer,
    .hidden{
        display: none;
        border : none;
        width: 100%;
        padding : 0;
        margin : 0;
    }
    #calendario{
        table-layout:fixed;
        border-collapse:collapse;
        width: 100%;
        padding : 0;
        margin : 0;
    }
}
