/* Config del inicio*/
header{
    background-color:  rgba(13, 56, 148, 0.267);
    outline: 0.5em #0d389483 solid ;
    width: 100%;
    padding-block: 2.5em;
    margin: 0;
    margin-bottom: 2em;
}
#inicio{
    font-size: 3em;
    text-align: center;
    text-shadow: 0.2em 0.2em 0.3em #0D3894;
} 

/* Configuracion de la tabla */
#calendario{
    outline: 0.5em #0d389483 solid ;
    table-layout:fixed;
    border-collapse:collapse;
    width: 100%;
}
.turnero{
    background-color: rgba(0,0,0,0 );
    background-image: url("../resources/Isologofarmacia.png");
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

tbody tr:nth-child(odd){
    background-color: rgba(112, 112, 114, 0.329);
}
/*Config de las celdas*/
.topCalendar{
    font-size: 1.5em;
}
#turnostxt{
    padding: 0.1em 0.4em;
    text-align: right;
}
#año{
    padding: 0.1em 0.4em;
    transition: all 0.3s ease-in-out ;
    text-align: left;
}
#mes{
    padding: 0.1em 0.4em;
    transition: all 0.3s ease-in-out ;
}
.dia{
    padding: 0.5em 0.4em;
    outline: 0.065em rgba(13, 56, 148, 0.616) solid;
    text-align: center;
    font-size: 1.4em;
}
.lista_dia{
    margin: 0em 0em;
    border-width: 0.001em;
    outline: 0.1em rgba(13, 56, 148, 0.616) solid;
    list-style-type: none;
    padding: 1em;
    transition: all 0.3s ease-in-out ;
}
.numeros{
    padding-bottom: 1em;
    text-align: start;
    font-size: 0.8em;
}
.nombres{
    text-align: center;
    font-size: 1.2em;
}
.datos{
    text-align: center;
    font-size: 0.8em;
}
.empty{
    text-align: center;
    font-size: 0.89999em;
}

/* Animacion */
.select:hover{
    background-color:rgba(13, 56, 148, 0.219);
    box-shadow: 0.5em 0.5em 0.3em rgba(13, 56, 148, 0.651); ;
    cursor:pointer;
}
/* Impresora*/
#printer{
    text-align: center;
    padding: 2em;
}
#print{
    transition: all 0.3s ease-in-out ;
}

/* Config del footer*/
#footer p{
    margin: 0;
    padding: 1em;
}
#footer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  rgba(13, 56, 148, 0.267);
    outline: 0.5em #0d389483 solid ;
    width: 100%;
    margin-top: 1em;
    font-size: 0.8em;
}
#mail{
    text-align: right;
}

#footer a:hover{
    color: rgba(13, 56, 148, 0.651);;
}

/* Colores */
.verde{
    color : #108F34;  
}
.azul{
    color : #0D3894;
}

/* Config global*/
* {
    font-family: 'Orbitron', sans-serif;
}

