/* Config del inicio*/
header{
    background-color:  rgba(13, 56, 148, 0.267);
    outline: 0.5em #0d3894a1 solid ;
    width: 100%;
    padding-block: 2.5em;
    margin: 0;
    margin-bottom: 2em;
}
#inicio{
    font-size: 3em;
    text-align: center;
    text-shadow: 0.2em 0.2em 0.3em #0d389471;
} 

/* Configuracion de la tabla */
#calendario{
    outline: 0.5em #0d389483 solid ;
    table-layout:fixed;
    border-collapse:collapse;
    width: 100%;
}
.turnero{
    background-color: rgba(0,0,0,0 );
    background-image: url("../resources/Isologofarmacia.png");
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

tbody tr:nth-child(odd){
    background-color: rgba(112, 112, 114, 0.329);
}
/*Config de las celdas*/
.dia{
    padding: 0.5em 0.4em;
    outline: 0.065em rgba(13, 56, 148, 0.616) solid;
    text-align: center;
    font-size: 1.4em;
}

.casillas{
    outline: 0.01em rgba(13, 56, 148, 0.404) solid;
    text-align: center;
    height:max-content;

}
.lista_dia{
    list-style-type: none;
    margin: 0;
    border: 1em;
    padding: 0.5em;
    transition: all 0.3s ease-in-out ;
}
.numeros{
    padding-bottom: 1em;
    text-align: start;
    font-size: 1em;
}
.nombre{
    text-align: center;
    font-size: 1.5em;
}
.datos{
    text-align: center;
    font-size: 1em;
}

.dropdownTop{
    -webkit-appearance:none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
    outline: 0;
    border:0;
    margin: 0;
    transition: all 0.3s ease-in-out ;
    width:100%;
}
#turnostxt{
    font-size: 1.7em;
    padding: 0.1em 0.4em;
    text-align: right;
}
#año{
    font-size: 1.7em;
    padding: 0.1em 0.4em;
    text-align: left;
}
#mes{
    font-size: 1.7em;
    padding: 0.1em 0.4em;
    text-align: center;
}                                     

.dropdownDays{
    -webkit-appearance:none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
    background-color: #ffffff00;
    border: 0;
    margin: 0;
    padding: 1em;
    width: 100%;
    height: fit-content;
    text-align: center;
    text-overflow:clip;
    font-size: 1em;
    transition: all 0.3s ease-in-out ;
    color : #108F34;  
}
/* Animacion */
.select:hover{
    background-color:rgba(13, 56, 148, 0.219);
    box-shadow: 0.5em 0.5em 0.3em rgba(13, 56, 148, 0.651); ;
    cursor:pointer;
}

/* Impresora*/
#printer{

    text-align: center;
    padding: 3em;
}
#print{
    background-color:  rgba(13, 56, 148, 0.267);
    outline: 0.5em #0d389483 solid ;
    border: 0;
    font-size: 1.25em;
    transition: all 0.3s ease-in-out ;
    padding: 1em;
}

/* Config del footer*/
#footer p{
    margin: 0;
    padding: 1em;
}
#footer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  rgba(13, 56, 148, 0.267);
    outline: 0.5em #0d389483 solid ;
    width: 100%;
    font-size: 0.8em;
}
#mail{
    text-align: right;
}

#footer a:hover{
    color: rgba(13, 56, 148, 0.651);;
}

/* Config global*/
* {
    font-family: 'Orbitron', sans-serif;
}
/* Colores */
.verde{
    color : #108F34;  
}
.azul{
    color : #0D3894;
}
